
* {
    color: #DBD8D5;
    background-color: #8F857C;
}

p {
    font-family: 'vt323', monospace;
font-weight: 400;
    font-size: 60px;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
