
* {
    color: #8F857C;
    background-color: #DBD8D5;
}

.logo {
    float: right;
}

p {
    font-family: 'zeitung-mono', sans-serif;
    font-weight: 500;
    font-size: 30px; 
    text-align: center;
}

@media (min-width: 1281px) {
    ul {
    
   list-style-type: none;
    margin: 0;
    padding-top: 1.5em; 
    text-align: center;
    font-family: 'zeitung-mono', sans-serif;
    font-weight: 500;
    font-size: 45px; 
    text-align: center;

}
a {
padding: 0.em;
text-decoration: none; 
}

a:active {
    text-decoration: underline;
}
li {
    display: inline;  
}

#work {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
   margin-top: 1em;
    margin-bottom: 1em;
<<<<<<< HEAD
}
}
@media only screen 
  and (min-device-width: 374px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
      .logo {
          float: none;
          margin-left: auto;
          margin-right: auto;
          display: block;
      }
      ul {
         padding-left: 0em;
         list-style-type: none;
    text-align: center;
    font-family: 'zeitung-mono', sans-serif;
    font-weight: 600;
    font-size: 25px; 
    text-align: center;    
      }
      
      #work {
          display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
   margin-top: 1em;
    margin-bottom: 1em;
      }
=======
>>>>>>> feb2fdf09ac241ac5a41f4d69a33aa7667bb2605
}